
     
     



    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">¿Estás cansado del trasporte publico?</h1>
            <h2 class="mb-5" >  nosotros tenemos la solucion para ti</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
                <!-- <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>-->
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- Icons Grid -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Tu tendras...</h2>
    
    
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbFDwNXOUF4-5GWEIyYyL0tY2zWr4iD2Yt1FMRsVZ4JtFq8DUD" alt="">
              <h5>Comodidad</h5>
              <p class="font-weight-light mb-0">Al viajar con nuestra aplicacion te olvidaras de todas las incomodidades del transporte publico</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://i1.wp.com/www.growupcars.es/wp-content/uploads/2016/08/entrega-a-domicilio.png?fit=300%2C300" alt="">
              <h5>Seguridad</h5>
              <p class="font-weight-light mb-0">No tienes que preocuparte por cuidar tus cosas de las personas malas !</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://4.bp.blogspot.com/-r8sJB8MzqS8/Vubm-216zyI/AAAAAAAAACA/Ddc5uQIspS0A06p8nbE-Nmv5pQ64eY-Lg/s1600/SCHOLASTICO%2B%2BTRANSPORTE%2BESCOLAR%2BSEGURO%2BECOLOGICO.png" alt="">
              <h5>Ayudas al medio ambiente</h5>
              <p class="font-weight-light mb-0">"Al aprovechar los espacios vacios de otros automoviles no gastas combustible y disminuyes el espacio dentro del trasporte publico"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('http://s04.s3c.es/imag/_v0/770x420/5/9/b/viaje-coche-road-trip-dreams.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Auto sardina</h2>
            <p class="lead mb-0">Nuestra aplicacion te permite viajar con tus compañeros de trabajo, poder relacionarte con ellos, disfrutar de un viaje divertido o calmado segun tu preferencia de la manera mas economica y segura !!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Protejemos tu privacidad</h2>
            <p class="lead mb-0">Para nosotros es importante tu seguridad y tu privacidad dentro de todo el movimiento laboral, por eso hemos implementado una mensajeria dentro de nuestro servicio para que te puedas comunicar sin tener que proporcionar tus datos personales para poder comunicarte con tu compañero de viaje, si asi tu lo deseas.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://reporteniveluno.mx/wp-content/uploads/2018/04/MAPS.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Facil de usar</h2>
            <p class="lead mb-0">Nuestra forma de direccionarte es atravez de google.maps entonces no tienes que preocuparte por el camino ni la ruta que debes de tomar, tu solamente entra al auto abrochate el cinturon dale play a la musica y nosotros hacemos el resto </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Por estudiantes..</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="http://www.franbosquet.com/wp-content/uploads/ironhack_logonegro.png" alt="">
              <h5>Cristopher Flores</h5>
              <p class="font-weight-light mb-0">Ironhacker 21 años:</p>
              <li class="font-weight-light mb-0" >Cerveza</li>
              <li class="font-weight-light mb-0" >Lol</li>
              <li class="font-weight-light mb-0" >Cocinar</li>
              <li class="font-weight-light mb-0" >Reggae</li>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="http://www.franbosquet.com/wp-content/uploads/ironhack_logonegro.png" alt="">
              <h5>Irvin Andrade</h5>
              <p class="font-weight-light mb-0">Ironhacker 25 años:</p>
              <li class="font-weight-light mb-0" >Cerveza</li>
              <li class="font-weight-light mb-0" >Banda</li>
              <li class="font-weight-light mb-0" >Pichar botellas</li>
              <li class="font-weight-light mb-0" >LLegar tarde</li>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    {{!-- <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Vamos animate!</h2>
          </div>
        </div>
      </div>
    </section> --}}


 <!-- Navigation -->

    
  